* {
  font-family: "Open Sans", serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar,
.navbar > li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 20px;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 600;
  padding: 5px;
}
